body
{
    font-size:110%;
    line-height:140%;
    margin:0;
    padding:3px 9px;
    font-family:monospace;
    color:black;
    background-color:white;
}

.container input
{
    border:1px solid black;
}

.content
{
    padding:0;
}

.mail-read, .mail-source
{
    padding:0;
}

.mail-read-html iframe
{
    min-width:100%;
    border:none;
    overflow:hidden;
}

.mail-body, .mail-source pre
{
    font-size:100%;
    overflow:auto;
}
.mail-source pre
{
    font-size:90%;
}

input[type=submit]
{
    padding:0;
}
.buttons a, input[type=submit]
{
    text-decoration: underline;
    border:none;
    color:black;
    background-color:white;
}
.buttons a:visited
{
    color:black;
}
.buttons a:hover, input[type=submit]:hover
{
    color:blue;
    cursor:pointer;
    border:none;
}
ul.buttons
{
    margin-bottom:7px;
}
ul.buttons li
{
    list-style:none;
    text-indent:-40px;
}

.macct-check
{
    font-size:90%;
}

.mail-headers p
{
    overflow:auto;
    border:1px dotted black;
    padding:1px 3px;
    line-height: 110%;
}
.header-key
{
    font-weight: bold;
}
.mail-flags
{
    margin-bottom: -11px;
}
.mail-actions
{
    margin-top: -11px;
}
