body
{
    font-size:1.1em;
    line-height:1.4em;
    margin:0;
    padding:0.2em 1.2em;
    font-family:monospace;
    color:black;
    background-color:white;
}

.container input,textarea
{
    border:1px solid black;
}

.content
{
    padding:0;
}

.navbar-path
{
    font-size:0.9em;
}

.mail-read, .mail-source
{
    padding:0;
}

.mail-read-html iframe
{
    min-height:30em;
    min-width:100%;
    border:none;
    overflow:hidden;
}

.mail-source pre
{
    font-size:0.9em;
    overflow:auto;
}

input[type=submit]
{
    padding:0;
}
.buttons a, input[type=submit]
{
    text-decoration: underline;
    border:none;
    color:blue;
    background-color:white;
}
.buttons a:visited
{
    color:blue;
}
.buttons a:hover, input[type=submit]:hover
{
    color:blue;
    cursor:pointer;
    border:none;
}

ul.buttons
{
    margin-bottom:0.7em;
    line-height:1.6em;
}
ul.buttons li
{
    list-style:none;
    text-indent:-3em;
}

.mdir-check
{
    line-height:1em;
    font-size:1em;
}

.mdir-attrib
{
    font-size:0.8em;
}

.mail-headers
{
    border-bottom:1px dotted black;
}
.header-key
{
    font-weight:bold;
}

.mail-flags
{
    line-height:0.9em;
    font-size:0.8em;
    border-bottom:1px dotted black;
}

.mail-actions
{
    line-height:0.9em;
    font-size:1em;
    border-bottom:1px dotted black;
}

.mail-parts
{
    line-height:0.9em;
    font-size:0.8em;
    border-bottom:1px dotted black;
}

.footer p
{
    margin:0;
    padding:0;
    line-height:1.3em;
    font-size:.7em;
    color:gray;
}

.mail-compose
{
    line-height:2em;
}
.mail-compose label
{
    vertical-align:top;
    font-weight:bold;
}

#mail-from
{
    width:42.7em;
    padding:0.2em 0.4em;
}
#mail-from[readonly]
{
    color:gray;
}
#mail-to, #mail-cc
{
    width:42.7em;
    padding:0.2em 0.4em;
}
#mail-bcc
{
    width:42.7em;
    padding:0.2em 0.4em;
}
#mail-subject
{
    width:42.7em;
    padding:0.2em 0.4em;
}
#mail-body
{
    margin-top:1em;
    padding:0.2em 0.4em;
    overflow:auto;
    width:48em;
    height:30em;
}
