{% include "head.html" %}
<div class="mail-compose">
    <form action="{% url 'msg:send' macct.id %}" method="post">
        {% csrf_token %}
        <p class="buttons">
            <input type="submit" name="jmail_cmd" value="send">
            {% if compose_restore %}
                <input type="submit" name="jmail_cmd" value="discard">
            {% else %}
                <a href="{% url 'mdir:subs' macct.id %}">cancel</a>
            {% endif %}
        </p>

        <label for="mail-from">From</label><br>
        <input id="mail-from" readonly="readonly" type="email" name="mail_from" value="{{msg.headers.from}}"><br>

        <label for="mail-to">To</label><br>
        <input id="mail-to" required="required" type="email" name="mail_to" value="{{msg.headers.to}}"><br>

        <label for="mail-cc">Cc</label><br>
        <input id="mail-cc" type="email" name="mail_cc" value="{{msg.headers.cc}}"><br>

        <label for="mail-bcc">Bcc</label><br>
        <input id="mail-bcc" type="email" name="mail_bcc" value="{{msg.headers.bcc}}"><br>

        <label for="mail-subject">Subject</label><br>
        <input id="mail-subject" required="required" type="text" name="mail_subject" value="{{msg.headers.subject}}"><br>

        <textarea id="mail-body" required="required" name="mail_body">{{msg.body}}</textarea>
    </form>
</div><!-- mail-compose -->
{% include "tail.html" %}
