<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                    <p>
                        jdev -
                        <a href="/user/logout/">logout</a> -
                        <a href="/">home</a>
                    </p>
                    <p class="navpath">
                        <a href="/macct/6/subs/">jmaildev@jrms.com.ar</a><br>
                        <a href="/macct/6/check/SU5CT1g%3D/">INBOX</a>
                    </p>
            </div>
            <div class="content">

                <div class="mail">
                    <div class="flags">
                        <p>{9925} \Seen NonJunk</p>
                    </div>
                    <div class="headers">
                        <p>
                            <span class="header-key">From:</span> Mensajes<br />
                            <span class="header-key">To:</span> santander@<br />
                            <span class="header-key">Subject:</span> Aviso<br />
                            <span class="header-key">Date:</span> Fri, 12 <br />
                        </p>
                    </div>
                    <pre class="message">
[NO TEXT CONTENT]
</pre>
                    <div class="attachs">
                        None
                    </div>
                </div>

            </div>
            <div class="footer">
            </div>
        </div>
    </body>
</html>
