@import '/static/css/default-colors.css';

body
{
    font-size:1em;
    line-height:1.6em;
    margin:0;
    padding:0.2em 1.2em;
    font-family:monospace;
}

.content
{
    padding:0;
}

.mail-read, .mail-source
{
    padding:0;
}

.mail-read-html iframe
{
    min-height:30em;
    min-width:100%;
    border:none;
    overflow:hidden;
}

input[type=submit]
{
    padding:0;
}

.buttons a, input[type=submit]
{
    text-decoration: underline;
    border:none;
}

.buttons a:hover, input[type=submit]:hover
{
    cursor:pointer;
    border:none;
}

ul.buttons li
{
    list-style:none;
    text-indent:-3em;
}

.mdir-attrib
{
    font-size:0.8em;
}

.mail-headers
{
    padding:0.5em;
}

.header-key
{
    font-weight:bold;
}

.mail-flags
{
    font-size:0.8em;
    line-height:1em;
}

.mail-actions
{
    font-size:0.8em;
    line-height:1em;
}

.mail-parts
{
    font-size:0.8em;
    line-height:1em;
}

.footer
{
    margin:0;
    padding:0;
    font-size:0.7em;
    line-height:1.3em;
}

.mail-compose input
{
    width:43em;
    padding:0.2em 0.4em;
    margin-bottom:0.5em;
}

.mail-compose label
{
    vertical-align:top;
    font-weight:bold;
}

#mail-body
{
    padding:0.2em 0.4em;
    overflow:auto;
    width:48em;
    height:30em;
    margin-top:1em;
}
