body
{
    color:black;
    background-color:white;
}

.container input,textarea
{
    border:1px solid black;
}

.buttons a, input[type=submit]
{
    color:blue;
    background-color:white;
}

.buttons a:visited
{
    color:blue;
}

.buttons a:hover, input[type=submit]:hover
{
    color:blue;
}

hr.sep
{
    border:none;
    border-bottom:solid 1px lightgray;
}

.mail-headers
{
    background-color:aliceblue;
    border:solid 1px lightblue;
}

.footer
{
    color:gray;
}

#mail-from[readonly]
{
    color:gray;
}
