{% include "inc/head.html" %}
<div id="mail-read">
    {% include 'inc/mbox_navbar.html' %}
    {% include 'inc/mail_attributes.html' %}
    {% include 'inc/mail_headers.html' %}

<pre id="mail-body">
{{msg.body}}
</pre>

    <div id="mail-parts">
        {{msg.body_parts}}
    </div>

</div><!-- id="mail-read" -->

{% if mdata_debug %}
<div id="mail-read-debug">
    <h5>DEBUG</h5>
    <pre>{% for dline in mdata_debug %}{{dline}}
{% endfor %}</pre>
</div>
{% endif %}
{% include "inc/tail.html" %}
