{% include "head.html" %}
<div class="mail-read">

    {% include 'mail/attributes.html' %}
    {% include 'mail/headers.html' %}

    <div class="mail-parts">
        <p class="buttons">
            <a href="{% url 'mail:source' macct.id mbox.name_encode msg.uid %}">source</a>

            {% for part in msg.body_parts %}
                {% if read_html %}
                    <a href="{% url 'mail:read' macct.id mbox.name_encode msg.uid %}">{{part}}</a>
                {% else %}
                    <a href="{% url 'mail:read_html' macct.id mbox.name_encode msg.uid 'html' %}">{{part}}</a>
                {% endif %}
            {% endfor %}

            {% for attach in msg.attachs %}
                <a title="{{attach.content_type}}"><q>{{attach.filename}}</q></a>
            {% endfor %}
        </p>
    </div>

    {% include 'mail/actions.html' %}

    {% if read_html %}
        {% include 'mail/body_html.html' %}
    {% else %}
        {% include 'mail/body_plain.html' %}
    {% endif %}

</div><!-- mail-read -->

{% if mdata_debug %}
<div class="mail-read-debug">
    <h5>DEBUG</h5>
    <pre>{% for dline in mdata_debug %}{{dline}}
{% endfor %}</pre>
</div><!-- mail-read-debug -->
{% endif %}
{% include "tail.html" %}
