{% include "head.html" %}
<div class="mail-read">
    <p class="buttons">
        <a href="{% url 'mail:source' macct.id mbox.name_encode msg.uid %}">view source</a>
    </p>
    {% include 'mail/attributes.html' %}
    {% include 'mail/headers.html' %}
    <div class="mail-parts">
    {% for part in msg.body_parts %}
        {{part}}
    {% endfor %}
    </div>
    <pre class="mail-body">
{{msg.body}}
</pre>
</div><!-- mail-read -->

{% if mdata_debug %}
<div class="mail-read-debug">
    <h5>DEBUG</h5>
    <pre>{% for dline in mdata_debug %}{{dline}}
{% endfor %}</pre>
</div><!-- mail-read-debug -->
{% endif %}
{% include "tail.html" %}
