{% include "head.html" %}
<div class="mbox-check">
    {% if msgs|length_is:"0" %}
        <pre>[NO MESSAGES]</pre>
    {% else %}
        {% for msg in msgs %}
            <p class="buttons">
                {% if not msg.seen %}<b>{% endif %}
                {{msg.headers_short.date}} |
                {{msg.headers_short.from}} |

                <a href="{% url 'mail:read' macct.id mdir.name_encode msg.uid %}">{{msg.headers_short.subject}}</a> |

                {{msg.headers_short.to}} |
                {% if not msg.seen %}</b>{% endif %}
                {{msg.size_human}} {{msg.flags_short}}
            </p>
            {# include 'mail/attributes.html' #}
            {# include 'mail/headers.html' #}
            {# include 'mail/actions.html' #}
        {% endfor %}
    {% endif %}
</div>
{% include "tail.html" %}
